#header {
}

#content {
    position: relative;
    margin: 12px auto;
    padding-top:1px;
    max-width: 800px;
}

#tagsoup {
}

#monthsoup {
}

#postamble {
}

#archive {
}

#archive a {
    padding-top: 16px;
    color: ##483d8b;
    text-decoration: none;
}

#table-of-contents {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: #bfbfbf;
    font-style: italic
}

#table-of-contents a {
    color: #4682b4;
    text-decoration: none;
}

#table-of-contents a:hover {
    color: #bfbfbf;
    text-decoration: none;
}

.taglist, .taglist a {
    color: #4682b4;
    text-decoration: none;
    padding-bottom: 12px;
}

.date {
    font-style: italic
}

.post-date {
    margin-top: 8px;
    color: #bfbfbf;
    font-style: italic
}

.post-title {
    padding-bottom: 0px;
}

.post-title a {
    color: #d2b48c;
    text-decoration: none;
}

.article-meta {
}

.archive-title {
}

.tags-title {
    text-decoration: none;
}

.article-title {
}

.article-content {
}

.fineprint {
}

.footnum {
}

.footnotes {
}

.footpara {
}

.tag-low {
}

.tag-medium {
}

.tag-high {
}

.header {
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}

.header a {
    color: #6ca6cd;
    text-decoration: none;
}

.header a:hover {
    color: #bfbfbf;
}

.page-header {
}

.page-header h1 {
}

.sitelinks, .sitelinks a {
    font-size: 16pt;
    color: #6ca6cd;
    padding-top: 2px;
    padding-bottom: 12px;
}

.muted {
}

a.title {
    color: #6ca6cd;
}

a.title:hover {
    color: #bfbfbf;
}

a.identity {
}

a.identity:hover {
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{
    display:block;
}

audio,canvas,video{
}

audio:not([controls]) { display:none; }

a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

a:hover,a:active {
    outline:0;
}

sub,sup {
}

sup {
}

img {
}

button,input,select,textarea {
}

button,input {
}

/* button::-moz-focus-inner,input::-moz-focus-inner { */
/* } */

/* button,input[type="button"],input[type="reset"],input[type="submit"] {
/*     cursor: pointer; */
/*     -webkit-appearance: button; */
/* } */

/* input[type="search"] { */
/*     -webkit-appearance: textfield; */
/*     -webkit-box-sizing: content-box; */
/*     -moz-box-sizing: content-box; */
/*     box-sizing:content-box; */
/* } */

/* input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button { */
/*     -webkit-appearance:none; */
/* } */

textarea {
    overflow:auto;
    vertical-align:top;
}

body {
    color:#454545;
    background-color:#ffffff;
    overflow-x: hidden;
    text-align: justify;
    text-justify: inter-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

a {
     color:##d2b48c;
     text-decoration:none;
}

a:hover {
    color:#bfbfbf;
}

a.article-title { */
}

/* .row { */
/* }.row:before,.row:after{display:table;content:"";} */

/* .row:after { */
/*     clear:both; */
/* } */

p {
}

p small {
}

.lead {
}

h1,h2,h3,h4,h5,h6 {
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
}

h1 {
}

h1 small {
}

h2 {
}

h2 small {
}

h3,h4,h5 {
}

h3 {
}

h3 small {
}

h4 {
}

h5,h6 {
}

ul,ol {
}

ul ul,ul ol,ol ol,ol ul {
}

ul {
}

/* ul.unstyled { */
/* } */

ol {
}

li {
}

dl {
}

dt {
}

dd {
}

dt,dd {
}

hr {
}

strong {
}

em {
}

abbr {
}

blockquote {
}

blockquote p {
}

blockquote small {
}

blockquote small:before {
}

blockquote.pull-right {
}

/* blockquote.pull-right p,blockquote.pull-right small { */
/* } */

/* q:before,q:after,blockquote:before,blockquote:after { */
/* } */

/* address { */
/* } */

small {
}

cite {
}

code {
    background: #efefef;
    border: 2px solid #efefef;
    color: #454545;
    font-family: 'Iosevka', monospace;
    font-size: 16px;
    /* line-height: 18px; */
}

pre {
    background: #eef;
    border: 2px solid #eef;
    color: #454545;
    font-family: 'Iosevka', monospace;
    font-size:18px;
    padding: 2px;
    padding-left: 2px;
    overflow: auto;
}

.src {
    background-color: #eef;
    border: 2px solid #eef;
    font-family: 'Iosevka', monospace;
    font-size:18px;
}

.example {
    background-color: #eef;
    border: 4px solid #eef;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'Iosevka', monospace;
}

.code {
    color: #586e75;
}

.comment {
    color: #93a1a1;
    font-style: italic;
}

.symbol {
}

.string {
}

.paren1 {
}

.paren2 {
}

.paren3 {
}

.underline {
    text-decoration: underline;
}

/* div.lightbox { */
/* } */

div.lightbox img {
}

.dropbtn {
}

.dropdown {
}

.dropdown-content {
}

.dropdown-content a {
}

.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {
}

.dropdown:hover .dropbtn {
}

.librarything {
}

.site-footer {
    color: #bfbfbf;
    border-top: 1px solid #e8e8e8;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.site-footer a {
    text-decoration: none;
}
